# do not upload the contents of ICPSR and NIBRS data folders
/data

# I save a file of relevant papers
/lit

# None of the R data files, need to go directly to ICPSR
*.rds


# I can upload the pop estimates data folder
~/data/PopEstimates/*

*.docx
/paper/Old
/paper/Piquero*